/* Удаляем ползунок */
.element::-webkit-scrollbar { width: 0 !important }

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Базовые настройки */
html{
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

/* Общие стили для Body */
body{
    font-family: 'Inter', sans-serif;
    font-size: 2.5vmin;
    font-weight: 500;
    background-color: #E6E6E6;
    user-select: none;
}

/* Стили для всех страниц кроме авторизации*/
.header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(141,183,207);
    height: 12.500vmin;
    font-size: 5.000vmin;
    color:#3A3A3A;
    padding-left: 4.255vmax;
    padding-right: 0.399vmax;
}

.side_nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: #BDE3FF;
    width: 4.255vmax;
    height: calc(100vmax - 12.5vmin);
    max-height: 100vh;
    border-radius: 0 0 1vmax 0;
    gap: 1.376vmin;
    padding-top: 6.269vmin;
    overflow-x: hidden;
}

.nav_ref_img{
    width: 2.660vmax;
    height: 2.660vmax;
}

#var_ref{
    width: 2.660vmax;
    height: 2.660vmax;
    background-image: url("../img/+.svg");
    background-size: contain;
    background-repeat: no-repeat;
    visibility: hidden;
}


#user_btn{
    height: 10vmin;
    width: 10vmin;
    border: 0.6vmin solid white;
    border-radius: 50%;
    background: #BDE3FF;
    background-image: url("../img/user.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* 
=============================
НАЧАЛО СТИЛИЗАЦИИ index.html 
=============================
*/

/* Стили для Header страницы авторизации */
.header_a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(141,183,207);
    border-radius: 0 0 1vmax 1vmax;
    height: 12.500vmin;
    font-size: 5.000vmin;
    color:#3A3A3A;
}
/* Стили для Main страницы авторизации */
.main_a {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.563vmin;
    margin-top: 7.5vmin;
}

.entr_lbl{
    font-size: 8.750vmin;
    color:#0D99FF;
}

#password, #email, #domain{
    background-color: #ffffff00;
    width: 32vmax;
    height: 5vmin;
    font-size: 2.5vmin;
    border: none;
    outline: none;
    padding: 0.5vmin;
}

.input_a, #password{
    background-color: #ffffff00;
    border: 0.6vmin solid #0D99FF;
    border-radius: 0.5vmax;
    width: 35vmin;
    height: 5vmin;
    max-height: 5vmin;
}

#email{
    width: 63%;
    height: 100%;
}

#domain{
    background-color: #BDE3FF;
    width: 35%;
    height: 100%;
    /* Убираем стрелку выбора */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    border-radius: 0.5vmin;
    float: right;
}
#domain:focus{
    background-color: #97B6CC;
}

#entr_submit{
    background-color: #BDE3FF;
    width: 32vmax;
    height: 5vmin;
    font-size: 2.5vmin;
    width: 13vmin;
    height: 7vmin;
    min-height: 5vmin;
    border: 0.6vmin solid #97B6CC;
    border-radius: 0.5vmax;
}

#entr_submit:active{
    background-color: rgb(141,183,207);
}
/* 
================================
ЗАВЕРШЕНИЕ СТИЛИЗАЦИИ index.html 
================================
*/

/* 
=================================
НАЧАЛО СТИЛИЗАЦИИ my_courses.html
=================================
*/


.header2{
    position: absolute;
    left: 4.225vmax;
    top: 12.500vmin;
    display: flex;
    gap:1vmin;
}

.your_courses{
    background-color: white;
    height: 5.046vmin;
    border-radius: 0 0 1vmax 0;
    display: flex;
    align-items: center;
    padding: 0 1vmax 0 1vmax;
}

#search_course, #sort_courses, #dir_sort{
    position: relative;
    height: 5.046vmin;
    border: 0.6vmin solid rgb(141,183,207);
    border-radius: 0 0 1vmax 1vmax;
    font-size: 2.5vmin;
    padding: 0 1vmax 0 1vmax;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#search_course:focus, #sort_courses:focus, #dir_sort{
    outline: none;
}

#courses{
    position: absolute;
    left: 8vmax;
    top: 22.171vmin;
    width: 87.234vmax;
    height: 70.948vmin;
    display: grid;
    grid-template-columns: repeat(4, 17vw);
}

.course_n{
    background-color: #BDE3FF;
    border-radius: 1vmax;
    margin-left: 1.5vmax;
    margin-right: 1.5vmax;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
    padding: 1vmin;
}
