html{
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
.element::-webkit-scrollbar { width: 0 !important }

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    background-color: #ebe5e2;
    min-width: 100vw;
}
.header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
    max-height: 10vh;
    min-width: 100vw;
    padding: 1vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: left;
    gap: 1vh;
}

.logo_tiu{
    height: 8vh;
}

.our_logo{
    height: 8vh;
}
/* Стилизация страниц авторизации и регистрации */
.container_autho{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column;
}
.form_ar{
    margin: 1vh;
    width: 40vh;
    height: 5vh;
    font-size: 2vh;
    padding: 0 5px 0 5px;
}

.lab_login{
    font-family: 'Open sans', sans-serif;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}

/* Стилизация страниц студента и препода */
#account_btn{
    border: none;
    background: rgba(217, 217, 217, 0);
    position: absolute;
    right: 1vw;
    justify-content: flex-end;
    width: 8vh;
    height: 8vh;
}
.account_img{
    width: inherit;
    height: inherit;
}
.side_nav{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
    height: 100vh;
    width: 10vh;
}
.nav, .nav_img{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    width: 8vh;
    padding: 1vh;
}

.courses{
    position: absolute;
    display: grid;
    left: 12vh;
    top: 14vh;
    grid-template-columns: repeat(4, 1fr);


    
}

.course{
    padding: 1vh;
    margin: 1vh;
    max-width: 70vw;
}

.rectangle{
  background-color: rgba(0, 0, 0, 0.1);
  height: 20vh;
  width: 21vw;
}

#add_course_btn{
    border: none;
    background: rgba(217, 217, 217, 0);
    position: absolute;
    right: 10vw;
    justify-content: flex-end;
    width: 8vh;
    height: 8vh;
}
.add_course_img{
    width: inherit;
    height: inherit;
}

/* Добавление курса */
.container_add_course{
    padding: 1vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    flex-direction: column;
}

.form_course, #course_sinopsis{
    font-family: 'Open sans', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;

    margin: 1vh;
    width: 40vw;
    padding: 1vh;
}

#course_sinopsis{
    resize: none;
    outline: none;
}